S3method(CrowdStat,ndd)
S3method(summary,FDPmodel)
export(ConCode)
export(CrowdStat)
export(EMGompertz)
export(EMdGompertz)
export(EMdexp)
export(EMdlinear)
export(EMdlogis3k)
export(EMdlogis4k)
export(EMdmonomol)
export(EMdpow)
export(EMexp)
export(EMiGompertz)
export(EMiexp)
export(EMilinear)
export(EMilogis3k)
export(EMilogis4k)
export(EMimonomol)
export(EMipow)
export(EMlinear)
export(EMlogis3k)
export(EMlogis4k)
export(EMmonomol)
export(EMpow)
export(FitConv)
export(calcDist)
export(calcDistStat)
export(calculateCrowding)
export(extractData)
export(extractDataSeedling)
export(findNeighbor)
export(prepareFDPdata)
useDynLib(FDPtools)
